.container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.loder {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.movies {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-gap: 95px;
    padding: 50px;
    width: 80%;
    border: 1px solid red;
    padding-top: 70px;
}
@media screen and (max-width: 1080px){
    .movies { 
      grid-template-columns: 1fr;
      width: 100%;
    }
  }



  /* 
  minmax (): 함수를 사용하면 최솟값, 최댓값 범위 내에서 값을 유연하게 처리.
  repeat(): 함수 또는 표기법 (notation)을 사용하면 반복되는 값을 손쉽게 설정할 수 있음. 
  grid-template-(rows or colunms): 공백으로 구분된 값 리스트를 해석하여 그리드 행(Row), 열(Column)을 설정합니다. 각 값은 트랙 크기를 말합니다. */